# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\NYP\SpashAward\SignTranslator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
